.gdg-guadalajara.landing
{

  section {
    h3 {
      color: #767777;
      text-transform: uppercase;
      font-size: 20px;
      margin: 0;
    }
  }

  section.welcome {
    position: relative;
    height: 350px;
    max-width: 400px;
    width: auto;
    background-color: #fff;
    background-image: url(../media/GDG-Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 500px)
  {
    section.welcome
    {
      height: 250px;
    }
  }

  section.events {
    max-width: 860px;
    margin: 0 auto;
  }

  .gdg-guadalajara--event {
    width: 100%;
    margin-bottom: 20px;

    header {
      padding: 8px;
    }


    .mdl-card__supporting-text {
      h4 {
        margin-top:0;
      }
    }

    .mdl-card__actions {
      display: flex;
      box-sizing:border-box;
      align-items: center;
    }

    .gdg-guadalajara--event-image {
      overflow: hidden;
    }

    .gdg-guadalajara--event-image > img {
      width: 100%;
      vertical-align: middle;
    }
  }
}