<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__top-section">
    <div class="mdl-mega-footer__left-section">
      <ul>
        <li class="mdl-mega-footer__social-btn">
          <a class="social-btn social-btn__github" href="https://github.com/gdgguadalajara" target="_blank" onclick="trackLink('https://github.com/gdgguadalajara', 'Github'); return false;"></a>
        </li>
        <li class="mdl-mega-footer__social-btn">
          <a class="social-btn social-btn__gplus" href="https://plus.google.com/+GdgguadalajaraOrg/" target="_blank" onclick="trackLink('https://plus.google.com/+GdgguadalajaraOrg/', 'G+'); return false;"></a>
        </li>
      </ul>
    </div>
    <div class="mdl-mega-footer__right-section">
      <a href="https://developers.google.com/groups/" target="_blank" onclick="trackLink('https://developers.google.com/groups/', 'Acerca de GDG'); return false;">Acerca de GDG</a>
      <a href="https://developers.google.com/groups/chapter/116137241171711738327/" onclick="trackLink('https://developers.google.com/groups/chapter/116137241171711738327/', 'Calendario'); return false;">Calendario</a>
      <a href="mailto:contacto@gdgguadalajara.org">Contacto</a>
    </div>
  </div>
</footer>
